.svg {
    box-shadow: 0px 0px 9px 7px rgb(143 0 255 / 15%);
}

.main{
    display:flex;
    position:relative;
    height:120px;
}
.container{
    border-radius:5px;
    padding:5px 5px 5px 5px;
    background: #FFFFFF;

}
.art{
    position:relative;
    display:block;
    min-height:100%;
    aspect-ratio:1/1;
    float:left;
    box-sizing:border-box;
}
.art *{
    max-width:100%;
    position:relative;
    display:block;
    height:100%;
    min-height:100%
}
.content{
    position:relative;
    width:71%;
    margin-left: 8px;
}
.song{
    color:#8F00FF;
    overflow:hidden;
    margin-top:5px;
    font-size:24px;
    text-align:center;
    display:-webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient:vertical;
}
.artist{
    color:#686868;
    font-size:20px;
    margin-top:4px;
    text-align:center;
    margin-bottom:5px;
}
.cover{
    aspect-ratio:1/1;
    border-radius:5px;
}
#bars{
    display:flex;
    align-items:flex-end;
    width:100%;
    height:30px;
    bottom:0;
    position:absolute;
}
.bar{
    margin-right:1px;
    width:5px;
    bottom:1px;
    height:3px;
    position:relative;
    background:#7E74D7;
}
.bar:nth-child(1){
    animation:8s linear -4s infinite alternate sound
}
.bar:nth-child(2){
    animation:9s linear -3s infinite alternate sound
}
.bar:nth-child(3){
    animation:6s linear -5s infinite alternate sound
}
.bar:nth-child(4){
    animation:9s linear -9s infinite alternate sound
}
.bar:nth-child(5){
    animation:6s linear -2s infinite alternate sound
}
.bar:nth-child(6){
    animation:8s linear -5s infinite alternate sound
}
.bar:nth-child(7){
    animation:7s linear -2s infinite alternate sound
}
.bar:nth-child(8){
    animation:4s linear -4s infinite alternate sound
}
.bar:nth-child(9){
    animation:5s linear -3s infinite alternate sound
}
.bar:nth-child(10){
    animation:8s linear -6s infinite alternate sound
}
.bar:nth-child(11){
    animation:6s linear -7s infinite alternate sound
}
.bar:nth-child(12){
    animation:6s linear -6s infinite alternate sound
}
.bar:nth-child(13){
    animation:9s linear -6s infinite alternate sound
}
.bar:nth-child(14){
    animation:7s linear -1s infinite alternate sound
}
.bar:nth-child(15){
    animation:4s linear -7s infinite alternate sound
}
.bar:nth-child(16){
    animation:7s linear -1s infinite alternate sound
}
.bar:nth-child(17){
    animation:7s linear -4s infinite alternate sound
}
.bar:nth-child(18){
    animation:9s linear -8s infinite alternate sound
}
.bar:nth-child(19){
    animation:9s linear -7s infinite alternate sound
}
.bar:nth-child(20){
    animation:7s linear -8s infinite alternate sound
}
.bar:nth-child(21){
    animation:5s linear -6s infinite alternate sound
}
.bar:nth-child(22){
    animation:7s linear -7s infinite alternate sound
}
.bar:nth-child(23){
    animation:7s linear -2s infinite alternate sound
}
.bar:nth-child(24){
    animation:8s linear -7s infinite alternate sound
}
.bar:nth-child(25){
    animation:9s linear -3s infinite alternate sound
}
.bar:nth-child(26){
    animation:4s linear -7s infinite alternate sound
}
.bar:nth-child(27){
    animation:8s linear -3s infinite alternate sound
}
.bar:nth-child(28){
    animation:4s linear -4s infinite alternate sound
}
.bar:nth-child(29){
    animation:9s linear -9s infinite alternate sound
}
.bar:nth-child(30){
    animation:9s linear -9s infinite alternate sound
}
.bar:nth-child(31){
    animation:7s linear -3s infinite alternate sound
}
.bar:nth-child(32){
    animation:6s linear -3s infinite alternate sound
}
.bar:nth-child(33){
    animation:4s linear -8s infinite alternate sound
}
.bar:nth-child(34){
    animation:8s linear -5s infinite alternate sound
}
.bar:nth-child(35){
    animation:4s linear -1s infinite alternate sound
}
.bar:nth-child(36){
    animation:5s linear -7s infinite alternate sound
}
.bar:nth-child(37){
    animation:4s linear -4s infinite alternate sound
}
.bar:nth-child(38){
    animation:7s linear -3s infinite alternate sound
}
.bar:nth-child(39){
    animation:6s linear -5s infinite alternate sound
}
.bar:nth-child(40){
    animation:5s linear -2s infinite alternate sound
}
.bar:nth-child(41){
    animation:7s linear -7s infinite alternate sound
}
.bar:nth-child(42){
    animation:4s linear -5s infinite alternate sound
}
.bar:nth-child(43){
    animation:6s linear -8s infinite alternate sound
}
.bar:nth-child(44){
    animation:7s linear -8s infinite alternate sound
}
.bar:nth-child(45){
    animation:6s linear -4s infinite alternate sound
}
.bar:nth-child(46){
    animation:5s linear -9s infinite alternate sound
}
.bar:nth-child(47){
    animation:6s linear -7s infinite alternate sound
}
.bar:nth-child(48){
    animation:6s linear -7s infinite alternate sound
}
.bar:nth-child(49){
    animation:8s linear -9s infinite alternate sound
}
.bar:nth-child(50){
    animation:9s linear -9s infinite alternate sound
}
.bar:nth-child(51){
    animation:4s linear -2s infinite alternate sound
}
.bar:nth-child(52){
    animation:7s linear -2s infinite alternate sound
}
.bar:nth-child(53){
    animation:6s linear -5s infinite alternate sound
}
.bar:nth-child(54){
    animation:5s linear -6s infinite alternate sound
}
.bar:nth-child(55){
    animation:5s linear -6s infinite alternate sound
}
.bar:nth-child(56){
    animation:4s linear -4s infinite alternate sound
}
.bar:nth-child(57){
    animation:6s linear -7s infinite alternate sound
}
.bar:nth-child(58){
    animation:7s linear -6s infinite alternate sound
}
div{
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji
}
@keyframes sound{
    3.8461538462%{
        height:55%;
        opacity:.3335
    }
    7.6923076923%{
        height:41%;
        opacity:.2495
    }
    11.5384615385%{
        height:48%;
        opacity:.2915
    }
    15.3846153846%{
        height:78%;
        opacity:.4715
    }
    19.2307692308%{
        height:23%;
        opacity:.1415
    }
    23.0769230769%{
        height:32%;
        opacity:.1955
    }
    26.9230769231%{
        height:58%;
        opacity:.3515
    }
    30.7692307692%{
        height:81%;
        opacity:.4895
    }
    34.6153846154%{
        height:79%;
        opacity:.4775
    }
    38.4615384615%{
        height:85%;
        opacity:.5135
    }
    42.3076923077%{
        height:19%;
        opacity:.1175
    }
    46.1538461538%{
        height:24%;
        opacity:.1475
    }
    50%{
        height:94%;
        opacity:.5675
    }
    53.8461538462%{
        height:41%;
        opacity:.2495
    }
    57.6923076923%{
        height:70%;
        opacity:.4235
    }
    61.5384615385%{
        height:37%;
        opacity:.2255
    }
    65.3846153846%{
        height:32%;
        opacity:.1955
    }
    69.2307692308%{
        height:99%;
        opacity:.5975
    }
    73.0769230769%{
        height:41%;
        opacity:.2495
    }
    76.9230769231%{
        height:22%;
        opacity:.1355
    }
    80.7692307692%{
        height:34%;
        opacity:.2075
    }
    84.6153846154%{
        height:67%;
        opacity:.4055
    }
    88.4615384615%{
        height:34%;
        opacity:.2075
    }
    92.3076923077%{
        height:38%;
        opacity:.2315
    }
    96.1538461538%{
        height:86%;
        opacity:.5195
    }
    100%{
        height:74%;
        opacity:.4475
    }
}