<svg width="480" height="133" xmlns="http://www.w3.org/2000/svg" class="svg">
    <foreignObject width="480" height="133">
        <div xmlns="http://www.w3.org/1999/xhtml" class="container">
            <style>
                {{ .ThemeCss }}
            </style>
            <div class="main">
                <a class="art" href="{{ .UserUrl }}" target="_blank">
                        <img src="data:image/png;base64,{{ .Image }}" class="cover" />
                </a>

                <div class="content">
                    <div class="song">{{ .TrackName}}</div>
                    <div class="artist">{{ .ArtistName}}</div>
                    <div class="bars"></div>
                </div>
            </div>
        </div>
    </foreignObject>
    <script type="text/javascript"><![CDATA[
    let bars = document.querySelector(".bars");
    console.log(bars)
    for (let i = 0; i < 57; i++) {
        bars.innerHTML += `<div class="bar"></div>`
    }

    ]]></script>
</svg>